[package]
name = "servo-media-gstreamer"
version = "0.1.0"
authors = ["The Servo Project Developers"]

[build-dependencies]
regex = "1.0"
zip = "0.3.1"

[dependencies]
boxfnonce = "0.1.0"

[dependencies.byte-slice-cast]
version = "0.2"

[dependencies.glib]
version = "0.6"

[dependencies.glib-sys]
version = "0.7"

[dependencies.gobject-subclass]
version = "0.2.1"

[dependencies.gobject-sys]
version = "0.7"

[dependencies.gst-plugin]
version = "0.3.1"

[dependencies.gstreamer]
version = "0.12"

[dependencies.gstreamer-app]
version = "0.12"

[dependencies.gstreamer-audio]
version = "0.12"

[dependencies.gstreamer-player]
version = "0.12"

[dependencies.gstreamer-sys]
version = "0.6.1"

[dependencies.gstreamer-sdp]
version = "0.12"

[dependencies.gstreamer-webrtc]
version = "0.12"

[dependencies.gstreamer-video]
version = "0.12"

[dependencies.ipc-channel]
version = "0.11"

[dependencies.lazy_static]
version = "1.2.0"

[dependencies.servo-media-audio]
path = "../../audio"

[dependencies.servo-media-player]
path = "../../player"

[dependencies.url]
version = "1.7.2"

[dependencies.servo-media-webrtc]
path = "../../webrtc"
