[package]
name = "examples"
version = "0.1.0"
license = "MPL-2.0"

[dependencies]
euclid = "0.19.0"
gleam = "0.6.0"
glutin = "0.17.0"
rand = "0.5.0"
time = "0.1.40"
servo-media = { path = "../servo-media" }
webrender = { git = "https://github.com/servo/webrender/" }
winit = "0.16.2"

[[bin]]
name = "audio_decoder"
path = "audio_decoder.rs"

[[bin]]
name = "channels"
path = "channels.rs"

[[bin]]
name = "channelsum"
path = "channelsum.rs"

[[bin]]
name = "offline"
path = "offline_context.rs"

[[bin]]
name = "params"
path = "params.rs"

[[bin]]
name = "params_settarget"
path = "params_settarget.rs"

[[bin]]
name = "params_connect"
path = "params_connect.rs"

[[bin]]
name = "play"
path = "play.rs"

[[bin]]
name = "play_noise"
path = "play_noise.rs"

[[bin]]
name = "player"
path = "player.rs"

[[bin]]
name = "test-player"
path = "test-player/main.rs"
