*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/jniLibs/armeabi/libgstreamer_android.so
app/src/main/jniLibs/armeabi/libservo_media_android.so
