name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        rust: [stable]
        target: ["default"]
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libasound2-dev libjack-dev libpulse-dev ninja-build gcc
    - name: Install meson
      run: python3 -m pip install --user meson
    - name: Build gstreamer
      run: mkdir gstreamer && sh etc/build_gstreamer.sh gstreamer
    - name: Start virtual audio device
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        jackd -d dummy &
    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          default: true
    - name: Pre-build
      run: |
        pulseaudio --start
        gst-inspect-1.0 | grep Total
    - name: Build
      run: cargo build
    - name: Examples
      run: |
        ls examples/*.rs | xargs -I{} basename  {} .rs  | grep -v params_connect | RUST_BACKTRACE=1 GST_DEBUG=3 xargs -I{} cargo ex {} --all-features
        find examples -type d -maxdepth 1 -mindepth 1 | xargs -I{} basename {} | grep -Fv -e resources -e android | RUST_BACKTRACE=1 GST_DEBUG=3 xargs -I{} cargo build -p examples --bin {} --all-features

  build_result:
    name: Result
    runs-on: ubuntu-latest
    if: always()
    needs: ["Build"]
    steps:
      - name: Success
        run: exit 0
        if: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
      - name: Failure
        run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
