name: CI

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:
  merge_group:
    types: [checks_requested]

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:
    runs-on: ${{ matrix.os }}
    container:
      image: ubuntu:25.04
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        rust: [stable]
        target: ["default"]
    steps:
    - uses: actions/checkout@v6
    - name: Install deps on linux
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        apt update
        apt install -t plucky -y \
          gstreamer1.0-libav \
          gstreamer1.0-plugins-bad \
          gstreamer1.0-plugins-base \
          gstreamer1.0-plugins-good \
          gstreamer1.0-plugins-ugly \
          gstreamer1.0-tools \
          libasound2-plugins \
          libfaad2 \
          libffi8 \
          libfftw3-single3 \
          libges-1.0-dev \
          libgstreamer-plugins-bad1.0-dev\
          libgstreamer-plugins-base1.0-dev \
          libgstreamer1.0-dev \
          libgstrtspserver-1.0-dev \
          libjack-jackd2-0 \
          libmms0 \
          libmpg123-0 \
          libopus0 \
          liborc-0.4-0 \
          liborc-0.4-dev \
          libsamplerate0 \
          libspeexdsp1 \
          libtdb1 \
          libtheora0 \
          libtwolame0 \
          pulseaudio \
          pulseaudio-utils \
          webp \
          curl \
          wget \
          build-essential \
          libssl-dev
    - name: Start virtual audio device
      if: startsWith(matrix.os, 'ubuntu')
      run: |
        jackd -d dummy &
    - name: Install rust
      uses: actions-rs/toolchain@v1
      with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          default: true
    - name: Pre-build
      run: |
        # chown -R $USER:$USER $HOME/
        # pulseaudio --start --system
        gst-inspect-1.0 | grep Total
    - name: Build
      run: cargo build
    - name: Examples
      run: |
        ls examples/*.rs | xargs -I{} basename  {} .rs  | grep -v params_connect | RUST_BACKTRACE=1 GST_DEBUG=3 xargs -I{} cargo ex {} --all-features
        find examples -type d -maxdepth 1 -mindepth 1 | xargs -I{} basename {} | grep -Fv -e resources -e android | RUST_BACKTRACE=1 GST_DEBUG=3 xargs -I{} cargo build -p examples --bin {} --all-features

  build_result:
    name: Result
    runs-on: ubuntu-latest
    if: always()
    needs: ["Build"]
    steps:
      - name: Success
        run: exit 0
        if: ${{ !contains(needs.*.result, 'failure') && !contains(needs.*.result, 'cancelled') }}
      - name: Failure
        run: exit 1
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
